# Django
pytz==2022.1
Django==4.0.4
django-solo==2.0.0
django-rosetta==0.9.8
django-import-export==2.8.0

# Static Serve
dj-static==0.0.6

# Linters and tests
Pillow==9.1.0

# Celery
celery==5.2.6

# Grafana
grafanalib==0.6.3
